p {
    border: 1px;
    background-color: aqua;
    width: 300px;
    height: 100px;
}
.satu {
    overflow: scroll;
    padding: 20px;
    border-top: 10px dotted red;
    border-bottom: 10px dotted red;
    border-left: 10px dotted red;
    border-right: 10px dotted red;
}
.dua {
    padding: 5px 20px;
    overflow: scroll;
    border: medium solid green;
}
.tiga {
    padding: 5px 30px 10px;
    overflow: scroll;
    border: 15px dashed blue;
}